@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using System.Net.Http
@using BootstrapBlazor.Components
@using JobApplicationManager
@using JobApplicationManager.Components.Pages
@using JobApplicationManager.Components.Shared
@using JobApplicationManager.Infrastructure.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Localization
@using Microsoft.JSInterop
@using TModel = System.Object
<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please take our
        <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2112271">brief survey</a>
    </span>
    and tell us what you think.
</div>

@code {

    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }

}