@page "/"
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using System.Net.Http
@using BootstrapBlazor.Components
@using JobApplicationManager
@using JobApplicationManager.Components.Pages
@using JobApplicationManager.Components.Shared
@using JobApplicationManager.Infrastructure.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Localization
@using Microsoft.JSInterop
@using TModel = System.Object
@attribute [TabItemOption(Text = "Index", Closable = false)]
@inject NavigationManager NavManager

@code
{
    protected override void OnInitialized()
    {
        NavManager.NavigateTo("/login");
    }
}

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />