@page "/login"
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject NavigationManager Navigation

<h3>Login</h3>

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User!.Identity!.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>
            Please <button type="button" @onclick="HandleLogin">log in</button>.
        </p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void HandleLogin() => Navigation.NavigateTo("authentication/login", forceLoad: true);
}