@page "/test"
@using System.Diagnostics
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Syncfusion.Blazor.Buttons
@inject NavigationManager Navigation
<h3>Test</h3>

@code {
    private void HandleLogin() => Navigation.NavigateTo("authentication/login", forceLoad: true);
    private void HandleTest() => Debug.WriteLine("Test button clicked!");
    private void OnToggleClick() => Navigation.NavigateTo("authentication/login", forceLoad: true);
    private void OnToggleClick1() => Debug.WriteLine("Test1 button clicked!");
}

<p>
    Please <button type="button" @onclick="HandleLogin">log in</button>.
</p>

<p>
    Please <button type="button" @onclick="HandleTest">Test</button>.
</p>

<SfButton @onclick="OnToggleClick" CssClass="e-flat" IsPrimary="true" Content="SFTest"></SfButton>
<SfButton @onclick="OnToggleClick1" CssClass="e-flat" IsPrimary="true" Content="SFTest1"></SfButton>